<div ng-controller="HomeController as vm">

    <!--SIDE NAVBAR-->
    <div class="row">
	    <div id="sidebarTop" class="col s12 m12 l3">
	    <ul>
	    	<p id="name">Isaac Grey<span id="copyright">©</span></p>
	    </ul>
	    <br>
	<!--ABOUT PANEL CARD-->
        <div id="about" class="card-panel hoverable z-depth-3">
         <span id="title" class="flow-text"><em>Web Engineering & UX UI Design</em>
         </span>
         <div class='row';
         <ul>
         <a><i id="phone" class="material-icons">phone</i></a><span class="truncate">(661)998-6503</span>
         </ul>
         <ul>
         <a><i id="email" class="material-icons">email</i></a><span class="truncate"> isaac.grey@stamplay.com</span>
         </ul>
         </div>
        </div>
      <!--COLLECTION-->
	    	<div class="collection my-collection">
	    		<a ui-sref="Tutorials" class="grey-text text-darken-1 flow-text collection-item">Tutorials
	    		<i id="videocam" class="material-icons">videocam</i></a>
		        <a ui-sref="Portfolio" class="grey-text text-darken-1 flow-text collection-item">Portoflio
	    		<i id="briefcase" class="material-icons">work</i></a>
		        <a ui-sref="WebApp" class="grey-text text-darken-1 flow-text collection-item">I Need A Web App
		       	<i id="globe" class="material-icons">language</i></a>
		        <a target="_blank" href="https://docs.google.com/document/d/1HJm72Ep7-wxMgA4u4EwJN0oG8Owx4t-WjvgkJjzTi5E/edit?usp=sharing" class="grey-text text-darken-1 flow-text collection-item">Resume<i id="magnify" class="material-icons">pageview</i></a>
	    	</div>
	    </div>

	<!--VECTOR PHOTO-->
    <div id="pagebackground" src="images/08.jpg" class="col l9"></div>
    </div>
      </div>
   
</div>
 