<div ng-controller="HomeController as vm">

    <!--SIDE NAVBAR-->
    <div class="row">
	    <div id="sidebarTop" class="col s3 red">
	    	<p class="flow-text" id="name">Isaac Grey</p>
	<!--AVATAR-->
	    	<img id="myPicture" src="images/avatar3.png">
	    	<div class="col s12 m5">
	<!--ABOUT PANEL CARD-->
        <div id="about" class="hide-on-med-only card-panel hoverable z-depth-3">
          <span class="white-text">"I am a web developer from Oakland, CA. I enjoy building everything
			from small business sites to full scale web applications. I am currently working at Stamplay, an API developer platform. Whether it's social, commercial,
			or entertainment platforms, I've got your web application 
			needs covered."
          </span>
        </div>
      </div>
      <!--COLLECTION-->
	    	<div class="collection my-collection">
	    		<a href="#!" class="grey-text text-darken-1 flow-text collection-item">Tutorials</a>
		        <a href="#!" class="grey-text text-darken-1 flow-text collection-item">Portoflio</a>
		        <a href="#!" class="grey-text text-darken-1 flow-text collection-item">I Need A Web App</a>
		        <a href="#!" class="grey-text text-darken-1 flow-text collection-item">I'm Looking To Hire</a>
	    	</div>
	    </div>

	<!--VECTOR PHOTO-->
    <div id="pagebackground" src="images/08.jpg" class="col s9 teal lighten-2"></div>
    </div>
      </div>
   
</div>
 