<div id="portfolioBody" class="flex-container" ng-controller="portfolioController as vm">

<!--NAVBAR-->
 <nav>
    <div id="tutorialsNavBar" class="nav-wrapper col s12">
      <a id="tutorialsLogo" class="brand-logo center">Portfolio
      </a>
      <ul>
        <li><a ui-sref="Home">
        <i class="material-icons">view_module</i></a></li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
<!--REVEAL CARD-->
  <div class="row flex-container-nowrap justify-between">
<!--BLOG DRAFTER-->
  <div class="card col s4 project-card">
    <div class="card-image waves-effect waves-block waves-light">
      <img id="blogdrafterPic" class="activator" src="images/blogdrafter.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Blog Drafter<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
  <!--WHEREABOUT-->
    <div class="card col s4 project-card">
    <div class="card-image waves-effect waves-block waves-light">
      <img id="blogdrafterPic" class="activator" src="images/Whereabout.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Where@bout<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
    <!--LINKTEREST-->
    <div class="card col s4 project-card">
    <div class="card-image waves-effect waves-block waves-light">
      <img id="blogdrafterPic" class="activator" src="images/linkterest.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Linkterest<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
<!--REVEAL CARD CLOSING DIV-->
  </div>
<!--BOTTOM CLOSING DIV-->
</div>