<div id="portfolioBody" class="flex-container" ng-controller="portfolioController as vm">

<!--NAVBAR-->
  <nav>
    <div class="nav-wrapper navbar">
      <a id="portfolioTitle" href="#" class="brand-logo center">Portfolio</a>
      <ul class="left">
      <li><a href="#!">
      <i class="large material-icons">view_list</i>
      </a></li>
      </ul>
    </div>
  </nav>
  <!--SPACE-->
  <br>
  <br>
<!--REVEAL CARD START-->
  <div class="row flex-container-nowrap justify-between">
<!--BLOG DRAFTER CARD-->
  <div class="card col s4 project-card z-depth-4 project-desc">
    <div class="card-image waves-effect waves-block waves-light">
      <img id="blogdrafterPic" class="activator" src="images/blogdrafter.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Blog Drafter 
      <span class="copyright">©</span>
      <i class="material-icons right">more_vert</i></span>
<!--BLOG DRAFTER COMPONENTS-->
      <p><u>Components</u></p>
      <ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Angular.js</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Node.js</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Express</p>
      </ul>
      <ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      MongoDb</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Mongoose</p>
      </ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Passport</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      HTML</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      CSS</p>
    </div>
    <div class="card-reveal project-desc">
      <span class="card-title grey-text text-darken-4">About<i class="material-icons right">info_outline</i></span>
      <p>Blog Drafter is an app that makes it possible for a blog writer to make a rough draft, share it with other blog writers and get feedback on their rough draft before publishing. If you are a blog writer and writing blogs is your career, this app makes it to where you can use other blog writers as editors for your first draft before you release anything to the public, making your blogs more likely to be read!</p>
      <ul>
      <a target="_blank" href='https://fathomless-temple-2299.herokuapp.com/'>Blog Drafter</a>
      </ul>
      <ul>
    </div>
  </div>
  <!--WHEREABOUT CARD-->
    <div class="card col s4 project-card z-depth-4 project-desc">
    <div class="card-image waves-effect waves-block waves-light">
      <img id="blogdrafterPic" class="activator" src="images/Whereabout.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Where@bout
      <span class="copyright">©</span>
      <i class="material-icons right">more_vert</i></span>
  <!--WHEREABOUT COMPONENTS-->
      <p><u>Components</u></p>
      <ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Google Maps API</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Facebook API</p>
      </ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Angular.js</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Node.js</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Express</p>
      <ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      MongoDb</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Mongoose</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      CSS</p>
      </ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Passport</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Gulp</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Bootstrap</p>
      <ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      HTML</p>
      </ul>
    </div>
    <div class="card-reveal project-desc">
      <span class="card-title grey-text text-darken-4">About<i class="material-icons right">info_outline</i></span>
      <p>Where@bout is an online business photo album application that allows users to upload their photos directly to their favorite places photo album. Users can also discover new places around them, follow businesses, and read other users comments and reviews. It's a business snapshot in real time!</p>
      <ul>
      <a target="_blank" href="http://whereaboutapp.herokuapp.com/#/">Where@bout</a>
    </div>
  </div>
    <!--LINKTEREST CARD-->
    <div class="card col s4 project-card z-depth-4 project-desc">
    <div class="card-image waves-effect waves-block waves-light">
      <img id="blogdrafterPic" class="activator" src="images/linkterest.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Linkterest
      <span class="copyright">©</span>
      <i class="material-icons right">more_vert</i></span>
    <!--LINKTEREST COMPONENTS-->
      <p><u>Components</u></p>
      <ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Angular.js</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Node.js</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Express</p>
      </ul>
      <ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      MongoDb</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Mongoose</p>
      </ul>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      Passport</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      HTML</p>
      <p class='chip components hoverable hide-on-med-and-down'><i class="material-icons">close</i>
      CSS</p>
    </div>
    <div class="card-reveal project-desc">
      <span class="card-title grey-text text-darken-4">About<i class="material-icons right">info_outline</i></span>
      <p>Linkterest is a Pinterest clone app that allows users to post their favorite photos to a public board.
      Users also have the option browsing their social media profiles and adding photo URL's from those profiles.</p>
      <ul>
      <a target="_blank" href='https://pinterestcloneapp.herokuapp.com/#/'>Linkterest</a>
    </div>
  </div>
<!--REVEAL CARD CLOSING DIV-->
  </div>
<!--BOTTOM CLOSING DIV-->
</div>