<div id="tutorialBody" ng-controller="tutorialController as vm">

<!--NAVBAR-->
 <nav>
    <div id="tutorialsNavBar" class="nav-wrapper col s12">
    <a target="_blank" href="https://www.youtube.com/channel/UC8JAX9cuUvbhd-dxA3M1HqA?view_as=public">
    <i id="youtube" class="fa fa-youtube medium right"></i>
    </a>
      <a id="tutorialsLogo" class="brand-logo center">Tutorials
      </a>
      <ul>
        <li><a ui-sref="Home">
        <i class="material-icons">view_list</i></a></li>
      </ul>
    </div>
  </nav>
  <!--SPACE-->
  <br>
  <br> 
  <!--PAGINATION CHOOSER-->
  <ul class="pagination center">
    <li class="waves-effect disabled"><a><i class="material-icons">chevron_left</i></a></li>
    <li class="pageTab" class="waves-effect active"><a>1</a></li>
    <li class="waves-effect"><a href="#Tutorial2">2</a></li>
    <li class="waves-effect"><a href="#Tutorial3">3</a></li>
    <li class="waves-effect"><a href="#Tutorial4">4</a></li>
    <li class="waves-effect"><a href="#Tutorial5">5</a></li>
    <li class="waves-effect"><a href="#Tutorial2"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  <br> 
   <!--SECTION-->
    <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">theaters</i>
      Intro to Javascript - Determining If A Number Is Prime
      </div>
      <div class="collapsible-body">
      <div class="container videoWrapper z-depth-4 hoverable">
  	<iframe width="660" height="515"
	src="http://www.youtube.com/embed/BLXAIKkoFn0">
	</iframe>
	</div>
    </div>
    </li>
   <!--SECTION-->
    <li>
      <div class="collapsible-header"><i class="material-icons">theaters</i>
      Intro to Javascript - Find Greatest Common Letter In a String</div>
      <div class="collapsible-body">
      <div class="container videoWrapper z-depth-4 hoverable">
  	<iframe width="660" height="515"
	src="http://www.youtube.com/embed/TUebYXBRn3I">
	</iframe>
	</div>
      </div>
    </li>
   <!--SECTION-->
    <li>
      <div class="collapsible-header"><i class="material-icons">theaters</i>
      Intro to Javascript - Equal Number of Letters</div>
      <div class="collapsible-body">
      <div class="container videoWrapper z-depth-4 hoverable">
  	<iframe width="660" height="515"
	src="http://www.youtube.com/embed/_YFSDTZeYGk">
	</iframe>
	</div>
      </div>
    </li>
    <!--SECTION-->
   	<li>
      <div class="collapsible-header"><i class="material-icons">theaters</i>
      Intro to Javascript - Count The Words in a String</div>
      <div class="collapsible-body">
      <div class="container videoWrapper z-depth-4 hoverable">
  	<iframe width="660" height="515"
	src="http://www.youtube.com/embed/-oXOVQm4VW0">
	</iframe>
	</div>
    </div>
   	<!--SECTION-->
   	<li>
      <div class="collapsible-header"><i class="material-icons">theaters</i>
		Intro to Javascript - Sort Numbers in Numerical Order</div>
      <div class="collapsible-body">
      <div class="container videoWrapper z-depth-4 hoverable">
  	<iframe width="660" height="515"
	src="http://www.youtube.com/embed/5hMj2t95Mf4">
	</iframe>
	</div>
    </div>
   	<!--SECTION-->
   	<li>
      <div class="collapsible-header"><i class="material-icons">theaters</i>
		Intro to Javascript - Sort Letters in Alphabetical Order</div>
      <div class="collapsible-body">
      <div class="container videoWrapper z-depth-4 hoverable">
  	<iframe width="660" height="515"
	src="http://www.youtube.com/embed/mQBQx38VruY">
	</iframe>
	</div>
    </div>
   	<!--SECTION-->
   	<li>
      <div class="collapsible-header"><i class="material-icons">theaters</i>
		Intro to Javascript - Convert Minutes to Hours</div>
      <div class="collapsible-body">
      <div class="container videoWrapper z-depth-4 hoverable">
  	<iframe width="660" height="515"
	src="http://www.youtube.com/embed/3wGNHy6Kemg">
	</iframe>
	</div>
    </div>
   	<!--SECTION-->
   	 <li>
      <div class="collapsible-header"><i class="material-icons">theaters</i>
		Intro to Javascript - Capitalize the first letter of a word</div>
      <div class="collapsible-body">
      <div class="container videoWrapper z-depth-4 hoverable">
  	<iframe width="660" height="515"
	src="http://www.youtube.com/embed/VYD9u3TVQqg">
	</iframe>
	</div>
    </div>
   	<!--SECTION-->
   	<li>
      <div class="collapsible-header"><i class="material-icons">theaters</i>
		Intro to Javascript - Replace the letters in a string with next letter in alpabet</div>
      <div class="collapsible-body">
      <div class="container videoWrapper z-depth-4 hoverable">
  	<iframe width="660" height="515"
	src="http://www.youtube.com/embed/6awwmspnviA">
	</iframe>
	</div>
    </div>
   	<!--SECTION-->

	<!--BOTTOM-->
  </ul>
	</div>

