<div id="tutorialBody" ng-controller="tutorialController as vm">

<!--NAVBAR-->
 <nav>
    <div id="tutorialsNavBar" class="nav-wrapper col s12">
      <a id="tutorialsLogo" class="brand-logo center">Tutorials
      </a>
      <ul>
        <li><a ui-sref="Home">
        <i class="material-icons">view_list</i></a></li>
      </ul>
    </div>
  </nav>
  <!--SPACE-->
  <br>
  <br> 
  <!--PAGINATION CHOOSER-->
  <ul class="pagination center">
    <li class="waves-effect"><a href="#Tutorial3"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="#Tutorial1">1</a></li>
    <li class="waves-effect"><a href="#Tutorial2">2</a></li>
    <li class="waves-effect"><a href="#Tutorial3">3</a></li>
    <li class="waves-effect active"><a href="#Tutorial4">4</a></li>
    <li class="waves-effect"><a href="#Tutorial5">5</a></li>
    <li class="waves-effect"><a href="#Tutorial5"><i class="material-icons">chevron_right</i></a></li>
  </ul>

  </div>