<div id="tutorialBody" ng-controller="tutorialController as vm">

<!--NAVBAR-->
 <nav>
    <div id="tutorialsNavBar" class="nav-wrapper col s12">
      <a id="tutorialsLogo" class="brand-logo center">Tutorials
      </a>
      <ul>
        <li><a ui-sref="Home">
        <i class="material-icons">view_list</i></a></li>
      </ul>
    </div>
  </nav>
  <!--SPACE-->
  <br>
  <br> 
  <!--PAGINATION CHOOSER-->
  <ul class="pagination center">
    <li class="waves-effect"><a href="#Tutorial1"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="#Tutorial1">1</a></li>
    <li class="pageTab" class="waves-effect active"><a>2</a></li>
    <li class="waves-effect"><a href="#Tutorial3">3</a></li>
    <li class="waves-effect"><a href="#Tutorial4">4</a></li>
    <li class="waves-effect"><a href="#Tutorial5">5</a></li>
    <li class="waves-effect"><a href="#Tutorial3"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  <!--SECTION-->
  <ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">theaters</i>
    Intro to Javascript - Finding the number of minutes between 2 clock times
    </div>
    <div class="collapsible-body">
    <div class="container videoWrapper z-depth-4 hoverable">
    <iframe width="660" height="515" src="http://www.youtube.com/embed/qcSl2rz1QLU">
  </iframe>
  </div>
  </div>
  </li>
  <!--SECTION-->
  <li>
    <div class="collapsible-header"><i class="material-icons">theaters</i>
    Intro to Javascript - Find the vowels of a string
    </div>
    <div class="collapsible-body">
    <div class="container videoWrapper z-depth-4 hoverable">
    <iframe width="660" height="515" src="http://www.youtube.com/embed/8WMxGEO5GTI">
  </iframe>
  </div>
  </div>
  </li>
  <!--SECTION-->
  <li>
    <div class="collapsible-header"><i class="material-icons">theaters</i>
    Intro to Javascript - Adding the factorials of a number together
    </div>
    <div class="collapsible-body">
    <div class="container videoWrapper z-depth-4 hoverable">
    <iframe width="660" height="515" src="http://www.youtube.com/embed/HAm6HknOor4">
  </iframe>
  </div>
  </div>
  </li>
  <!--SECTION-->
  <li>
    <div class="collapsible-header"><i class="material-icons">theaters</i>
    Intro to Javascript - Adding the factorials of a number together
    </div>
    <div class="collapsible-body">
    <div class="container videoWrapper z-depth-4 hoverable">
    <iframe width="660" height="515" src="http://www.youtube.com/embed/HAm6HknOor4">
  </iframe>
  </div>
  </div>
  </li>
  <!--SECTION-->
  <li>
    <div class="collapsible-header"><i class="material-icons">theaters</i>
    Intro to Node.js - Building a basic Node Server
    </div>
    <div class="collapsible-body">
    <div class="container videoWrapper z-depth-4 hoverable">
    <iframe width="660" height="515" src="http://www.youtube.com/embed/Fr7FTS59r90">
  </iframe>
  </div>
  </div>
  </li>

  <!--CLOSING BOTTOM DIV-->
  </ul>
  </div>



