<div id="webAppBody" ng-controller="webAppController as vm">

<!--NAVBAR-->
 <nav>
    <div id="webAppNavBar" class="nav-wrapper col s12">
      <a id="webAppLogo" class="brand-logo center">Project Overview
      </a>
      <ul>
        <li><a ui-sref="Home">
        <i class="material-icons">view_list</i></a></li>
      </ul>
    </div>
  </nav>
  <br>

<!--FORM-->
  <div id="submissionForm" class="container z-depth-2">
  <br>
  <p id="formHeader" class="center">Contact Info</p>
  <br>
<!--SECTION-->
		<div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
        </div>
<!--SECTION-->
		<div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email">
          <label for="email">Email</label>
        </div>
      	</div>
<!--SECTION-->
    <br>
    <p id="formHeader" class="center">General</p>
    <br>
<!--SECTION-->
		<div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">*</i>
          <input type="email">
          <label>Business Name?</label>
        </div>
      	</div>
<!--SECTION-->
 		<div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">*</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Please describe your web project</label>
        </div>
      </div>
<!--SECTION-->
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">*</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">
          Are there any example websites or apps that you like? what do you like about them?
          </label>
        </div>
      </div>
<!--SECTION-->     
    <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">perm_contact_calendar</i>
          <input type="date" class="datepicker">
          <label for="textarea1">Please select project deadline</label>
        </div>
      </div>
<!--SECTION-->
    <div class='row'>
    <div class="col s6">
    <label>
    Will you be processing debit/credit card transactions?
    </label>
    <select class="browser-default">
      <option value="" disabled selected>Select</option>
      <option value="1">Yes</option>
      <option value="2">No</option>
    </select>
    </div>
    </div>
<!--SECTION-->
    <div class='row'>
    <div class="col s6">
    <label>
    Does your company have a copyright for it's name?
    </label>
    <select class="browser-default">
      <option value="" disabled selected>Select</option>
      <option value="1">Yes</option>
      <option value="2">No</option>
    </select>
    </div>
    </div>
<!--SECTION-->
    <div class='row'>
    <div class="col s6">
    <label>
    Is your company an LLC, Corporate, or Inc. company?
    </label>
    <select class="browser-default">
      <option value="" disabled selected>Select</option>
      <option value="1">LLC</option>
      <option value="2">Corporate</option>
      <option value="3">Inc</option>
      <option value="3">Sole Propiertor (Individual)</option>

    </select>
    </div>
    </div>

<!--SECTION-->
    <br>
    <p id="formHeader" class="center">Marketing</p>
    <br>
<!--SECTION-->
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">*</i>
          <input type="email">
          <label>Do you want to incorporate ads? If yes, please describe</label>
        </div>
        </div>
<!--SECTION--> 
     <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">*</i>
          <input type="email">
          <label>Do you want to incorporate marketing emails?</label>
        </div>
        </div>
<!--SECTION-->      
  <form action="#">
    <p>What social media platforms do you wish to incorporate into your project?</p>
    <p>
      <input type="checkbox" id="facebook" />
      <label for="facebook">Facebook</label>
    </p>
     <p>
      <input type="checkbox" id="twitter" />
      <label for="twitter">Twitter</label>
    </p>
     <p>
      <input type="checkbox" id="instagram" />
      <label for="instagram">Instagram</label>
    </p>
     <p>
      <input type="checkbox" id="linkedin" />
      <label for="linkedin">LinkedIn</label>
    </p>
    
  </form>


<!--SECTION-->
    <br>
    <p id="formHeader" class="center">Other</p>
    <br>
<!--SECTION-->
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">*</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">
          Please list any comments or questions you have regarding your web project..
          </label>
        </div>
      </div>
<!--CLOSING DIV-->

      </div>
      </div>
















<!-- <form id="test" ng-submit='vm.sendEmail()'>
<input type="text" ng-model="vm.contactName" placeholder="Name...">
<input type="email" ng-model="vm.email" placeholder="Email...">
<input type="text" ng-model="vm.message" placeholder="Message...">
<button type="submit">Send</button>
</form> -->


