<div id="webAppBody" ng-controller="webAppController as vm">

<!--NAVBAR-->
 <nav>
    <div id="webAppNavBar" class="nav-wrapper col s12">
      <a id="webAppLogo" class="brand-logo center">I Need a Web App
      </a>
      <ul>
        <li><a ui-sref="Home">
        <i class="material-icons">view_list</i></a></li>
      </ul>
    </div>
  </nav>
  <br>

<!--FORM-->
  <div id="submissionForm" class="container z-depth-2">
  <p id="formHeader" class="center">Project Overview</p>
  <br>
<!--NAME & PHONE-->
		<div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
        </div>
<!--EMAIL-->
		<div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      	</div>
<!--PROJECT INFO-->
		<div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">*</i>
          <input type="email">
          <label>Business Name?</label>
        </div>
      	</div>

 		<div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">*</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Please describe your business services and/or products offered</label>
        </div>
      </div>
  	  </div>









<!-- <form id="test" ng-submit='vm.sendEmail()'>
<input type="text" ng-model="vm.contactName" placeholder="Name...">
<input type="email" ng-model="vm.email" placeholder="Email...">
<input type="text" ng-model="vm.message" placeholder="Message...">
<button type="submit">Send</button>
</form> -->


</div>