html, body {
	min-height: 100vh;
}

/*VECTOR PHOTO*/
#pagebackground{
	min-height: 100vh;
	background: url("../images/08.jpg") no-repeat;
	background-size:100%;
	background-position: center center;
	background-color:#EEE6E3 !important;
}

@media screen and (max-height: 500px) {
	#pagebackground {
		background-size: 50%;
		background-position: center 33%;
	}
}
/*SIDE NAVBAR*/
#sidebarTop{
	min-height: 100vh;
	min-width: 140px;
	background-color: #ED5444;
}

#name{
	font-family: "Quicksand";
	color:#FFFFFF;
	position: relative;
	font-size: 50px;
	text-align: center;
	margin-top:5px;
	margin-bottom:0;
}
#copyright{
	font-size: 10px;
}
#about{
	position: relative;
	font-family: "Quicksand";
	color: #666666;
	height: 40vh;
	word-wrap: break-word;
	background-color: #EEE6E3;

}
#title{
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}
#phone{
	margin-top: 10px;
	color: #3BB3B9;
	position: relative;
}
#email{
	color: #3BB3B9;
	position: relative;
}
/*NAVIGATION COLLECTION*/
.my-collection {
	position: absolute;
	min-width: 140px;
    bottom: 0;
    left: 0;
    width: inherit;
    margin: 0;
    border-radius: 0;
    border: none;
}
#baseButton{
	background-color: #ED5444;
}
.btn-floating{
	background-color: #ED5444;
}
