#portfolioBody{
	min-height: 100vh;
	background-color: #EEE6E3;
}
.navbar{
	background-color: #3BB3B9;
	font-family: "Quicksand";
}
#blogdrafterPic{
	padding-top: 10px;
}
.flex-container {
	display:flex;
	width:100%;
	flex-wrap: wrap;
}

.flex-container-nowrap {
	display:flex;
	width:100%;
}

.justify-between {
	justify-content:space-between;
}

.project-card {
	margin:1em !important;
	max-height: 608px;
	min-height: 608px;
}
.copyright{
	font-size:12px;
}
#nav-mobile{
	margin-right:30px;
	cursor: pointer;
}
#portfolioTitle{
	font-size: 40px;
}
