#videocam{
	float: right;
}
#briefcase{
	float: right;
}
#globe{
	float: right;
}
#magnify{
	float: right;
}
#tutorialsLogo{
	font-family: "Quicksand";
	font-size: 40px;
}
#tutorialsNavBar{
	background-color: #3BB3B9;
}
#tutorialBody{
	background-color: #EEE6E3;
	min-height: 100vh;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#videoSelection{
	width: 50%;
}
.pageTab{
	background-color: #ABC9CA;
}
#youtube{
	padding-right: 20px;
	cursor: pointer;
}

