.toast{
	background-color: #3BB3B9;
	font-family: "Quicksand";
}
#webAppNavBar{
	background-color: #3BB3B9;
}
#webAppLogo{
	font-family: "Quicksand";
	font-size: 40px;
}
#webAppBody{
	background-color: #EEE6E3;
	min-height: 100vh;
}
.project-desc{
	font-family: "Quicksand";
}
#submissionForm{
	background-color: #FFFFFF;
	font-family: "Quicksand";
}
#formHeader{
	font-size: 30px;
}