.toast{
	background-color: #3BB3B9;
	font-family: "Quicksand";
}
#webAppNavBar{
	background-color: #3BB3B9;
}
#webAppLogo{
	font-family: "Quicksand";
	font-size: 40px;
}
#webAppBody{
	background-color: #C1C1C1;
	min-height: 100vh;
}